Repository treebeardtech/whaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry, pyright

poetry:
  name: sync setup.py with poetry
  entry: "bash -c ' \\\n  V=$(poetry version -s);\n  $CI || poetry build && tar -xvf dist/whaler-$V.tar.gz -C dist && diff dist/whaler-$V/setup.py setup.py \\\n    || cp dist/whaler-$V/setup.py setup.py \\\n'\n"
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: poetry run pyright
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.91

d
  .pre-commit-config.yaml
Due: none

readme
  README.md
  setup.py
Due: pyright

m
  pyproject.toml
  setup.py
Due: poetry, pyright

Version 0.1 (#3)
  .github/workflows/publish-to-pypi.yml
  .github/workflows/test-publish-to-pypi.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  README.md
  docs/_config.yml
  docs/_toc.yml
  docs/landing-page.ipynb
  docs/screen.png
  pyproject.toml
  setup.py
  src/whaler/cli.py
  src/whaler/static/html.tgz
  src/whaler/static/html.zip
Due: poetry, pyright

f
  .github/workflows/test.yml
  pyproject.toml
  setup.py
  src/whaler/static/html.tgz
Due: poetry, pyright

deploy: 078148fcfd3b64b4f348a15b6fcec4be0af40279
  .nojekyll
  asset-manifest.json
  du.txt
  favicon.ico
  index.html
  logo512.png
  manifest.json
  robots.txt
  static/js/2.8c8d1684.chunk.js
  static/js/2.8c8d1684.chunk.js.LICENSE.txt
  static/js/2.8c8d1684.chunk.js.map
  static/js/3.7e3ce9f2.chunk.js
  static/js/3.7e3ce9f2.chunk.js.map
  static/js/main.6211e42a.chunk.js
  static/js/main.6211e42a.chunk.js.map
  static/js/runtime-main.87bcebd9.js
  static/js/runtime-main.87bcebd9.js.map
Due: none

Update UI (#7)
  .github/workflows/test.yml
  pyproject.toml
  setup.py
  src/whaler/static/html.tgz
Due: poetry, pyright

page
  src/whaler/static/html.tgz
  tests/test_cli.py
Due: pyright

deploy: e91a701c4fd911a4e1756c3507c89c9b792f865b
  asset-manifest.json
  du.txt
  index.html
  static/js/runtime-main.312fd3ec.js
  static/js/runtime-main.312fd3ec.js.map
  static/js/runtime-main.87bcebd9.js
  static/js/runtime-main.87bcebd9.js.map
Due: none

page
  .github/workflows/test.yml
Due: none

pages fix (#8)
  .github/workflows/test.yml
  src/whaler/static/html.tgz
  tests/test_cli.py
Due: pyright

j
  README.md
  pyproject.toml
  setup.py
Due: poetry, pyright

j
  .github/workflows/test.yml
Due: none

Release 0.1.2 (#9)
  .github/workflows/test.yml
  README.md
  pyproject.toml
  setup.py
Due: poetry, pyright

deploy: d5cd1002d41c56a996e7ec17d62bd616cd30fb09
  du.txt
Due: none

h
  .github/workflows/test.yml
Due: none

f
  README.md
Due: none

Docs (#10)
  .github/workflows/test.yml
  README.md
Due: none

deploy: 2a82a43252446e50faef2cdfa362ad72db0d1404
  du.txt
Due: none

f
  .github/workflows/test-publish-to-pypi.yml
  pyproject.toml
  setup.py
Due: poetry, pyright

s
  pyproject.toml
  setup.py
Due: poetry, pyright

Install test (#11)
  .github/workflows/test-publish-to-pypi.yml
  setup.py
Due: pyright

deploy: 38519a47eb0e0dd35a672f8ddd39fc6f63772869
  du.txt
Due: none

slack
  README.md
Due: none

slack (#12)
  README.md
Due: none

badge
  README.md
Due: none

typeshed
  .pre-commit-config.yaml
  pyrightconfig.json
Due: none

Badge (#13)
  .pre-commit-config.yaml
  README.md
  pyrightconfig.json
Due: none

deploy: b84856b435b30e240e829826c5e8ff98e7b1d4f6
  du.txt
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  poetry: any of: pyproject.toml|poetry.lock
  pyright: any of: \.py$
